*{margin:0;padding:0;box-sizing: border-box;}
*{color: inherit;}
.container-bg{
  font-size: .44rem;
  background:  url(../images/bg-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #143141;
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  transition: left .7s;
}
.container-bg.active {
  left: 0;
  padding: .46rem .32rem;
}
.container-bg > .container{
  border: .1rem solid #143141;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.boldText{
  font-weight: bold;
}
.centerText{
  text-align: center;
}

header,main,footer{
  width: 7rem;
  margin: 0 auto;
}
header{
  padding: .7rem 0;
  xflex-grow: 2;
}
header > .logo{
  display: block;
  margin: 0 auto;
  width: 7rem;
}
.container-bg main{
  flex-grow: 6;
  display: flex;
  padding: .3rem 0 1.6rem;
}
.container-bg main > .text{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-bg main > .text > p{
  position: relative;
}
.container-bg main > .text > p:first-child{
  padding-bottom: .2rem;
}
.container-bg main > .text > p:first-child > span:last-child{
  font-size: .46rem;
  padding-left: .2rem;
}
.container-bg main > .text > p > span[name=username],
.container-bg main > .text > p > span[name=schoolname]{
  font-size: .56rem;
  color: rgba(20,49,65,.6);
}
.container-bg main > .text > p:nth-child(3) > span:last-child{
  position: absolute;
  right: 0;
  top: 100%;
}
.container-bg main > .text > p:nth-child(4){
  font-family: fantasy;
  margin-top: .6rem;
}
.container-bg main > .text > p:last-child{
  font-weight: bold;
  text-align: right;
  padding-top: .3rem;
}
.container-bg main > .text > p:last-child > span{
  font-size: .54rem;
  padding-left: .1rem;
}


.container-bg footer{
  flex-grow: 2;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: .4rem;
}
.container-bg footer > .smallTitle{
  position: absolute;
  top: 0;
  width: 8rem;
  margin-left: -.5rem;
  border-top: .03rem solid #143141;
}
.container-bg footer > .smallTitle > img{
  width: 3rem;
  height: auto;
  display: block;
  margin: auto;
  margin-top: -.33rem;
}
.container-bg footer > .content{
  display: flex;
}
.container-bg footer > .content > img{
  flex-grow: 1;
  width: 2.2rem;
  height: 2.2rem;
}
.container-bg footer > .content > .guide{
  flex-grow: 2;
  font-size: .3rem;
  margin-left: .4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container-bg footer > .content > .guide > p > .icon-aleft{
  background: url(../images/icon-aleft.png) no-repeat;
  background-size: .66rem .435rem;
  width: .66rem;
  height: .435rem;
  display: inline-block;
  vertical-align: bottom;
  margin-right: .2rem;
}
.container-bg footer > .content > .guide > p:last-child{
  font-size: .4rem;
}
.noticeImg-mask{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 50%;
  background: rgba(0,0,0,.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1s;
  color: #fff;
}
.noticeImg-mask.active{
  bottom: 0%;
  top: 0%;
}
.noticeImg-mask > img{
  width: 70%;
  height: auto;
  opacity: 0;
  transition: opacity 1s;
}
.noticeImg-mask.active > img{
  opacity: 1;
}
.noticeImg-mask.active > p{
  font-size: .46rem;
  margin-bottom: .2rem;
}

