*{margin:0;padding:0;box-sizing: border-box;}
*{color: inherit;}
body{
  font-size: .44rem;
  background:  url(../images/bg-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: .46rem .32rem;  
  color: #143141;
  font
}
.container{
  border: .1rem solid #143141;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.boldText{
  font-weight: bold;
}
.centerText{
  text-align: center;
}

header,main,footer{
  width: 7rem;
  margin: 0 auto;
}
header{
  padding: .7rem 0;
  xflex-grow: 2;
}
header > .logo{
  display: block;
  margin: 0 auto;
  width: 7rem;
}
main{
  flex-grow: 6;
  display: flex;
  padding: .3rem 0 1.6rem;
}
main > .text{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main > .text > p{
  position: relative;
}
main > .text > p:first-child{
  padding-bottom: .2rem;
}
main > .text > p:first-child > span:last-child{
  font-size: .46rem;
  padding-left: .2rem;
}
main > .text > p > span[name=username],
main > .text > p > span[name=schoolname]{
  font-size: .56rem;
  color: rgba(20,49,65,.6);
}
main > .text > p:nth-child(3) > span:last-child{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
main > .text > p:nth-child(4){
  font-family: fantasy;
}
main > .text > p:last-child{
  font-weight: bold;
  text-align: right;
  padding-top: .3rem;
}
main > .text > p:last-child > span{
  font-size: .54rem;
  padding-left: .1rem;
}


footer{
  flex-grow: 2;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: .4rem;
}
footer > .smallTitle{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  border-top: .03rem solid #143141;
}
footer > .smallTitle > img{
  width: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
footer > .content{
  display: flex;
}
footer > .content > img{
  flex-grow: 1;
  width: 2.2rem;
  height: 2.2rem;
}
footer > .content > .guide{
  flex-grow: 2;
  font-size: .3rem;
  margin-left: .4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer > .content > .guide > p > .icon-aleft{
  background: url(../images/icon-aleft.png) no-repeat;
  background-size: .66rem .435rem;
  width: .66rem;
  height: .435rem;
  display: inline-block;
  vertical-align: bottom;
  margin-right: .2rem;
}
footer > .content > .guide > p:last-child{
  font-size: .4rem;
}